//------ Social Icon Colors ------//
$facebook: #1871e7;
$twitter: #1c99e7;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #dd0017;
$instagram: #e1376f;

//------ Other Colors -------//
$primary_color:#A4DB46;
$secondary_color: #414E59;

$black: #000000;
$white: #ffffff;
